
<%- include header.ejs %>

<p>转账完成</p>
<p>查看交易
<a href="https://etherscan.io/tx/<%= hash %>" target="etherscan">主网<%= hash %></a> <br />
<a href="https://ropsten.etherscan.io/tx/<%= hash %>" target="etherscan">ropsten 测试网<%= hash %></a>

</p>
